.BubbleOuter.Incoming {
  text-align: left;
}

.BubbleOuter.Outgoing {
  text-align: right;
}

.Bubble {
  padding: 8px;
  border-radius: 20px;
  margin-top: 10px
}

.MessageBubble {
  /*white-space: pre;*/
  max-width: 450px;
  display: inline-block;
}

.MessageBubble.Incoming {
  background: #f2f2f2;
}

.MessageBubble.Outgoing {
  background: lightgreen;
}

