.BubbleOuter.Incoming {
  text-align: left;
}

.BubbleOuter.Outgoing {
  text-align: right;
}

.Bubble {
  padding: 8px;
  border-radius: 20px;
  margin-top: 10px
}

.MessageBubble {
  /*white-space: pre;*/
  max-width: 450px;
  display: inline-block;
}

.MessageBubble.Incoming {
  background: #f2f2f2;
}

.MessageBubble.Outgoing {
  background: lightgreen;
}

.ReplyBubbleOuter {
  text-align: center
}

.ReplyButtonsBubble {
  padding: 2px;
  display: inline-block;
  max-width: 450px;
  background: #f3fee3;
  margin-top: 5px
}

.ReplyButton {
  text-transform: uppercase;
  margin: 10px;
  font-size: 14px;
  letter-spacing: 0px;
  font-weight: 500;
}

.ReplyButton.red {
  background-color: lightred;
}

.ReplyButton.yellow {
  background-color: lightyellow;
}

.ReplyButton.blue {
  background-color: lightblue;
}

.ReplyButton.green {
  background-color: lightgreen;
}
